# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Uncomment the lines below for your package; 
# These are basically files you don't want in a release.

/.github            export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.php-cs-fixer.php  export-ignore
/.scrutinizer.yml   export-ignore
/art                export-ignore
/doctum.php         export-ignore
/phpunit.xml.dist   export-ignore
/tests              export-ignore
